#NLP - Sentiment Analysis Hotel based on Review with Comparing Naive Bayes and SVM

In [1]:
#import library
import numpy as np
import pandas as pd
import seaborn as sns
from pylab import rcParams
import string
import re
import matplotlib.pyplot as plt
import math
from sklearn.model_selection import train_test_split
from collections import Counter, defaultdict
from bs4 import BeautifulSoup
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report, confusion_matrix
import nltk
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
import os
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import TfidfVectorizer
import time
from sklearn import svm
from sklearn.metrics import classification_report
from sklearn import naive_bayes
from sklearn.metrics import roc_auc_score

#Data Facts and Import

In [2]:
get_ipython().run_line_magic('matplotlib', 'inline')

In [3]:
sns.set(style='whitegrid', palette='muted', font_scale=1.5)

In [4]:

rcParams['figure.figsize'] = 10, 10

In [5]:
RANDOM_SEED = 42
np.random.seed(RANDOM_SEED)

In [6]:
#import data
corpus = pd.read_csv("/content/drive/MyDrive/PROYEK/Proyek PBA/7282_1.csv")

In [7]:
#Check the shape (number of columns and rows) in the dataset
corpus.shape

(35912, 19)

In [8]:
print('Panjang Corpus : ',len(corpus))

Panjang Corpus :  35912

In [9]:
#Show data
corpus

                      address  ... reviews_userProvince
0      Riviera San Nicol 11/a  ...                  NaN
1      Riviera San Nicol 11/a  ...                  NaN
2      Riviera San Nicol 11/a  ...                  NaN
3      Riviera San Nicol 11/a  ...                  NaN
4      Riviera San Nicol 11/a  ...                  NaN
...                       ...  ...                  ...
35907      1088 Powdermill Rd  ...                   NC
35908      1088 Powdermill Rd  ...                   NC
35909      1088 Powdermill Rd  ...                   NC
35910        3747 29th St S E  ...                  NaN
35911        3747 29th St S E  ...                  NaN

[35912 rows x 19 columns]

In [10]:
#Show 5 sample data
corpus.sample(5)

                       address  ... reviews_userProvince
11107          301 Reserve Ave  ...                   AZ
29089          355 Santana Row  ...                   MI
15961  2120 Claude Bailey Pkwy  ...                  NaN
13555         19 Sombrero Blvd  ...                   FL
9008         2512 W Lincolnway  ...                  NaN

[5 rows x 19 columns]

In [11]:
corpus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35912 entries, 0 to 35911
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   address               35912 non-null  object
 1   categories            35912 non-null  object
 2   city                  35912 non-null  object
 3   country               35912 non-null  object
 4   latitude              35826 non-null  float64
 5   longitude             35826 non-null  float64
 6   name                  35912 non-null  object
 7   postalCode            35857 non-null  object
 8   province              35912 non-null  object
 9   reviews_date          35653 non-null  object
 10  reviews_dateAdded     35912 non-null  object
 11  reviews_doRecommend   0 non-null      float64
 12  reviews_id            0 non-null      float64
 13  reviews_rating        35050 non-null  float64
 14  reviews_text          35890 non-null  object
 15  reviews_title         34290 non-null  object
 16  reviews_userCity      16263 non-null  object
 17  reviews_username      35869 non-null  object
 18  reviews_userProvince  17518 non-null  object
dtypes: float64(5), object(14)
memory usage: 5.2+ MB

In [12]:
corpus.describe()

           latitude     longitude  ...  reviews_id  reviews_rating
count  35826.000000  35826.000000  ...         0.0    35050.000000
mean      37.285008    -85.725758  ...         NaN        3.776431
std        6.996544     33.062263  ...         NaN        1.416195
min      -25.436750   -166.559040  ...         NaN        0.000000
25%       33.827340   -104.868200  ...         NaN        3.000000
50%       37.936026    -86.822972  ...         NaN        4.000000
75%       41.672491    -77.044550  ...         NaN        5.000000
max       63.877674    115.164407  ...         NaN       10.000000

[8 rows x 5 columns]

#Data Cleaning/EDA

In [13]:
#Check for missing values in the dataset
corpus.isnull().sum(axis=0)

address                     0
categories                  0
city                        0
country                     0
latitude                   86
longitude                  86
name                        0
postalCode                 55
province                    0
reviews_date              259
reviews_dateAdded           0
reviews_doRecommend     35912
reviews_id              35912
reviews_rating            862
reviews_text               22
reviews_title            1622
reviews_userCity        19649
reviews_username           43
reviews_userProvince    18394
dtype: int64

In [14]:
#Checking Missing value in the dataset and printing the percentage for missing value for each column
count = corpus.isnull().sum().sort_values(ascending=False)
percentage = (corpus.isnull().sum()/corpus.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([count, percentage], axis=1,
keys=['Count', 'Percentage'])

print('Count and percentage of missing value for the columns:')
missing_data['Percentage']=missing_data['Percentage'].apply(lambda x: x*100)
missing_data.loc[missing_data['Percentage'] > 10][:10]

Count and percentage of missing value for the columns:

                      Count  Percentage
reviews_id            35912  100.000000
reviews_doRecommend   35912  100.000000
reviews_userCity      19649   54.714302
reviews_userProvince  18394   51.219648

In [15]:
for i in range(0,len(corpus)-1):
    if type(corpus.iloc[i]['reviews_text']) != str:
        corpus.iloc[i]['reviews_text'] = str(corpus.iloc[i]['reviews_text'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [16]:
corpus = corpus[corpus['reviews_rating'] != 3]
corpus.head()

                  address categories  ... reviews_username reviews_userProvince
0  Riviera San Nicol 11/a     Hotels  ...      Russ (kent)                  NaN
1  Riviera San Nicol 11/a     Hotels  ...       A Traveler                  NaN
2  Riviera San Nicol 11/a     Hotels  ...             Maud                  NaN
3  Riviera San Nicol 11/a     Hotels  ...            Julie                  NaN
4  Riviera San Nicol 11/a     Hotels  ...         sungchul                  NaN

[5 rows x 19 columns]

In [17]:
def sentiment(n):
    return 1 if n >= 4 else 0
corpus['sentiment'] = corpus['reviews_rating'].apply(sentiment)
corpus.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                  address categories  ... reviews_userProvince sentiment
0  Riviera San Nicol 11/a     Hotels  ...                  NaN         1
1  Riviera San Nicol 11/a     Hotels  ...                  NaN         1
2  Riviera San Nicol 11/a     Hotels  ...                  NaN         1
3  Riviera San Nicol 11/a     Hotels  ...                  NaN         1
4  Riviera San Nicol 11/a     Hotels  ...                  NaN         1

[5 rows x 20 columns]

In [18]:
corpus.sample(10)

                   address  ... sentiment
25413   4420 Cleburne Blvd  ...         0
1568   442 Walker Bay Blvd  ...         1
22524        4260 Broadway  ...         0
12977       101 Lakeway Dr  ...         1
3185          2725 1st Ave  ...         1
12369         7070 Poe Ave  ...         0
31608    7500 N Point Pkwy  ...         1
34957           3024 Tv Rd  ...         0
26210     4711 N Elizabeth  ...         1
26225     4711 N Elizabeth  ...         1

[10 rows x 20 columns]